h1 {text-align: center; 
    font-family:garamond, georgia, serif; 
    padding: 20px 30px;}
h2 {font-family:garamond, georgia, serif;}
h3 {font-family:garamond, georgia, serif;}
ul {font-family:garamond, georgia, serif;}
ul.navbar {list-style-type: none;
           margin: 0;
           padding: 0;
           background-color: #b31b1b;
           overflow: hidden;
           position: sticky;
           top: 0;}
li a.navbar {font-family:garamond, georgia, serif;
             display: block;
             color: #ffffff;
             padding: 14px 18px;
             text-decoration:none;
             float: left;
             border-right:1px solid #ababab;}
li a.navbar:hover:not(.active) {background-color: #DF1E12;}
li.navbar:last-child {border-right: none;}
li a.active {background-color: #222222;}
p{font-family:garamond, georgia, serif;}
body{margin: 10px 200px;}
div.mycontainer {display: flex;
                 margin-bottom: 100px;}
div.mycontainer div {width:33%;}
footer{font-family:garamond, georgia, serif;
       font-size: large;
       background-color: #b31b1b; 
       padding: 10px; 
       text-align: center; 
       color: #ffffff;}
.container {width: 250px;
            height: 250px;
            background-color: #ffffff;
            text-align: center;}
.container img {height: 200px;}
    